body {
    background: rgb(212, 208, 208);
    font-family: Georgia, Times, 'Times New Roman', serif;
}
h1 {
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#for-logo {
    width: 70px;
    border-radius: 10px;
    padding-right: 7px;
    border: none;
}

.carousel-item img {
    object-fit:cover;
    height: 300px;
    width: 50px;
}


.framed-accordion {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    border: 3px solid #ced4da; 
    padding: 14px; 
    max-width: 600px;
    width: 80%;
    border-radius: 5px;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 75vh;     
}