body {
    background: rgb(212, 208, 208);
    font-family: Georgia, Times, 'Times New Roman', serif;
}
h1 {
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#for-logo {
    width: 70px;
    border-radius: 10px;
    padding-right: 7px;
    border: none;
}

.carousel-item img {
    object-fit: cover;
    height: 200px;
    width: 50px;
}

h3 {
    text-align: center;
    padding-top: 5px;
}